body{
  margin:0;
  font-family: system-ui, Arial;
  background:#f9fafb;
}

.card{
  background:white;
  border-radius:16px;
  padding:32px;
  box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

.input{
  width:100%;
  padding:12px;
  border:1px solid #e5e7eb;
  border-radius:10px;
  margin-top:6px;
}

.btn-main{
  background:#22C55E;
  color:white;
  padding:12px;
  border-radius:10px;
  width:100%;
  font-weight:600;
  border:none;
  cursor:pointer;
}

.btn-main:hover{
  opacity:.9;
}
/* ===== NOTIFY ===== */

.notify{
  min-width:260px;
  padding:14px 18px;
  border-radius:12px;
  color:white;
  font-weight:500;
  box-shadow:0 8px 20px rgba(0,0,0,0.15);
  transform:translateX(120%);
  opacity:0;
  transition:all .35s ease;
}

.notify.show{
  transform:translateX(0);
  opacity:1;
}

.notify.success{
  background:#22C55E;
}

.notify.error{
  background:#EF4444;
}

.notify.warning{
  background:#F59E0B;
}
